In [1]:
import pandas as pd
import json

In [2]:
parks_df = pd.read_csv('Resources/national_parks.csv')
parks_df.head()

,Park Code,Park Name,State,Acres,Latitude,Longitude,Rank,Visitors,Percentage
0,ACAD,Acadia,ME,47390,44.35,-68.21,7,3437286,0.0378
1,ARCH,Arches,UT,76519,38.68,-109.57,17,1659702,0.0182
2,BADL,Badlands,SD,242756,43.75,-102.50,28,970998,0.0107
3,BIBE,Big Bend,TX,801163,29.25,-103.25,44,463832,0.0051
4,BISC,Biscayne,FL,172924,25.65,-80.08,30,708522,0.0078

In [3]:
parks_df = parks_df.set_index('Park Name')
parks_df

,Park Code,State,Acres,Latitude,Longitude,Rank,Visitors,Percentage
Park Name,,,,,,,,
Acadia,ACAD,ME,47390,44.35,-68.21,7,3437286,0.0378
Arches,ARCH,UT,76519,38.68,-109.57,17,1659702,0.0182
Badlands,BADL,SD,242756,43.75,-102.50,28,970998,0.0107
Big Bend,BIBE,TX,801163,29.25,-103.25,44,463832,0.0051
Biscayne,BISC,FL,172924,25.65,-80.08,30,708522,0.0078
Black Canyon of the Gunnison,BLCA,CO,32950,38.57,-107.72,46,432818,0.0048
Bryce Canyon,BRCA,UT,35835,37.57,-112.18,12,2594904,0.0285
Canyonlands,CANY,UT,337598,38.20,-109.93,29,733996,0.0081
Capitol Reef,CARE,UT,241904,38.20,-111.17,23,1226519,0.0135
Carlsbad Caverns,CAVE,NM,46766,32.17,-104.44,45,440691,0.0048
Channel Islands,CHIS,CA,249561,34.01,-119.42,47,409630,0.0045
Congaree,CONG,SC,26546,33.78,-80.78,52,159445,0.0018
Crater Lake,CRLA,OR,183224,42.94,-122.10,31,704512,0.0077
Cuyahoga Valley,CUVA,OH,32950,41.24,-81.55,13,2237997,0.0246
Denali,DENA,AK,3372402,63.33,-150.50,38,601152,0.0066
Death Valley,DEVA,"CA, NV",4740912,36.24,-116.82,16,1740945,0.0191
Dry Tortugas,DRTO,FL,64701,24.63,-82.87,56,79200,0.0009
Everglades,EVER,FL,1508538,25.32,-80.93,25,1118300,0.0123
Gates of the Arctic,GAAR,AK,7523898,67.78,-153.30,63,10518,0.0001
Glacier,GLAC,MT,1013572,48.80,-114.00,10,3049839,0.0335
Glacier Bay,GLBA,AK,3224840,58.50,-137.00,33,672087,0.0074
Great Basin,GRBA,NV,77180,38.98,-114.30,54,131802,0.0014
Grand Canyon,GRCA,AZ,1217403,36.06,-112.14,2,5974411,0.0656
Great Sand Dunes,GRSA,CO,42984,37.73,-105.51,41,527546,0.0058
Great Smoky Mountains,GRSM,"TN, NC",521490,35.68,-83.53,1,12547743,0.1379
Grand Teton,GRTE,WY,309995,43.73,-110.80,8,3405614,0.0374
Guadalupe Mountains,GUMO,TX,86416,31.92,-104.87,50,188833,0.0021
Haleakala,HALE,HI,29094,20.72,-156.17,27,994394,0.0109
Hawaii Volcanoes,HAVO,HI,323431,19.38,-155.20,21,1368376,0.0150
Hot Springs,HOSP,AR,5550,34.51,-93.05,19,1467153,0.0161
Isle Royale,ISRO,MI,571790,48.10,-88.55,60,26410,0.0003
Joshua Tree,JOTR,CA,789745,33.79,-115.90,11,2988547,0.0328
Katmai,KATM,AK,3674530,58.50,-155.00,55,84167,0.0009
Kenai Fjords,KEFJ,AK,669983,59.92,-149.65,48,356601,0.0039
Kobuk Valley,KOVA,AK,1750717,67.55,-159.28,62,15766,0.0002
Lake Clark,LACL,AK,2619733,60.97,-153.42,61,17157,0.0002
Lassen Volcanic,LAVO,CA,106372,40.49,-121.51,42,517039,0.0057
Mammoth Cave,MACA,KY,52830,37.18,-86.10,40,551590,0.0061
Mesa Verde,MEVE,CO,52122,37.18,-108.49,39,556203,0.0061
Mount Rainier,MORA,WA,235625,46.85,-121.75,18,1501621,0.0165
North Cascades,NOCA,WA,504781,48.70,-121.20,59,38208,0.0004
Olympic,OLYM,WA,922651,47.97,-123.50,9,3245806,0.0357
Petrified Forest,PEFO,AZ,93533,35.07,-109.78,34,643588,0.0071
Pinnacles,PINN,CA,26606,36.48,-121.16,51,177224,0.0019
Redwood,REDW,CA,112512,41.30,-124.00,43,504722,0.0055
Rocky Mountain,ROMO,CO,265828,40.40,-105.58,3,4670053,0.0513
Saguaro,SAGU,AZ,91440,32.25,-110.50,26,1020226,0.0112
Shenandoah,SHEN,VA,199045,38.53,-78.35,20,1425507,0.0157
Theodore Roosevelt,THRO,ND,70447,46.97,-103.45,32,691658,0.0076
Voyageurs,VOYA,MN,218200,48.50,-92.88,49,232974,0.0026
Wind Cave,WICA,SD,28295,43.57,-103.48,36,615350,0.0068
Wrangell-St. Elias,WRST,AK,8323148,61.00,-142.00,57,74518,0.0008
Yellowstone,YELL,"WY, MT, ID",2219791,44.60,-110.50,6,4020288,0.0442
Yosemite,YOSE,CA,761266,37.83,-119.50,5,4422861,0.0486
Zion,ZION,UT,146598,37.30,-113.05,4,4488268,0.0493

In [4]:
species_df = pd.read_csv('Resources/clean_species.csv')
species_df.head()

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Occurrence,Nativeness,Conservation Status,Park Code
0,ACAD-1000,Acadia,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Present,Native,Least Concern,ACAD
1,ACAD-1001,Acadia,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Present,Native,Least Concern,ACAD
2,ACAD-1002,Acadia,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Present,Not Native,Species of Concern,ACAD
3,ACAD-1003,Acadia,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Not Confirmed,Native,Endangered,ACAD
4,ACAD-1005,Acadia,Mammal,Carnivora,Felidae,Lynx canadensis,Canada Lynx,Not Confirmed,Native,Least Concern,ACAD

In [5]:
parks_data = parks_df.to_json(orient='index')
parsed = json.loads(parks_data)
parks_data = json.dumps(parsed, indent=4)

In [6]:
with open("Dashboard/Resources/data/parks_data.json", "w") as outfile:
    outfile.write(parks_data)

In [7]:
species_data = species_df.to_json(orient='records')
parsed = json.loads(species_data)
species_data = json.dumps(parsed, indent=4)

In [8]:
with open("Dashboard/Resources/data/species_data.json", "w") as outfile:
    outfile.write(species_data)

In [9]:
table_df = species_df.drop(columns = ['Species ID', 'Park Code', 'Order', 'Family', 'Occurrence'])
table_df.head()

,Park Name,Category,Scientific Name,Common Names,Nativeness,Conservation Status
0,Acadia,Mammal,Alces alces,Moose,Native,Least Concern
1,Acadia,Mammal,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Native,Least Concern
2,Acadia,Mammal,Canis latrans,"Coyote, Eastern Coyote",Not Native,Species of Concern
3,Acadia,Mammal,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Native,Endangered
4,Acadia,Mammal,Lynx canadensis,Canada Lynx,Native,Least Concern

In [10]:
table_df = table_df[['Common Names', 'Scientific Name', 'Category', 'Nativeness', 'Conservation Status', 'Park Name']]
table_df.head()

,Common Names,Scientific Name,Category,Nativeness,Conservation Status,Park Name
0,Moose,Alces alces,Mammal,Native,Least Concern,Acadia
1,"Northern White-Tailed Deer, Virginia Deer, Whi...",Odocoileus virginianus,Mammal,Native,Least Concern,Acadia
2,"Coyote, Eastern Coyote",Canis latrans,Mammal,Not Native,Species of Concern,Acadia
3,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Canis lupus,Mammal,Native,Endangered,Acadia
4,Canada Lynx,Lynx canadensis,Mammal,Native,Least Concern,Acadia

In [11]:
table_df.groupby(['Park Name'])['Scientific Name'].count()

Park Name
Acadia                          1526
Arches                           994
Badlands                         868
Big Bend                        2193
Biscayne                         887
Black Canyon of the Gunnison    1097
Bryce Canyon                    1169
Canyonlands                     1152
Capitol Reef                    1434
Carlsbad Caverns                1462
Channel Islands                 1845
Congaree                        1226
Crater Lake                     1385
Cuyahoga Valley                 1843
Death Valley                    1658
Denali                          1040
Dry Tortugas                     485
Everglades                      1824
Gates of the Arctic              866
Glacier                         2255
Glacier Bay                     1335
Grand Canyon                    2549
Grand Teton                     1732
Great Basin                     1118
Great Sand Dunes                 899
Great Smoky Mountains           2614
Guadalupe Mountains             1617
Haleakala                       2114
Hawaii Volcanoes                2947
Hot Springs                     1230
Isle Royale                     1323
Joshua Tree                     1261
Katmai                           977
Kenai Fjords                     886
Kobuk Valley                     661
Lake Clark                      1441
Lassen Volcanic                 1150
Mammoth Cave                    1999
Mesa Verde                      1215
Mount Rainier                   1261
North Cascades                  2342
Olympic                         1857
Petrified Forest                 814
Pinnacles                        978
Redwood                         1885
Rocky Mountain                  1643
Saguaro                         1640
Sequoia and Kings Canyons       1964
Shenandoah                      1832
Theodore Roosevelt               951
Voyageurs                       1425
Wind Cave                       1019
Wrangell-St. Elias              1734
Yellowstone                     2219
Yosemite                        1994
Zion                            1644
Name: Scientific Name, dtype: int64

In [12]:
table_data = table_df.to_json(orient='records')
parsed = json.loads(table_data)
table_data = json.dumps(parsed, indent=4)

In [13]:
with open("Dashboard/Resources/data/table_data.json", "w") as outfile:
    outfile.write(table_data)

In [14]:
category_list = table_df['Category'].unique().tolist()

In [15]:
category_data = json.dumps(category_list)
category_data

'["Mammal", "Bird", "Reptile", "Amphibian", "Fish", "Vascular Plant", "Insect", "Nonvascular Plant", "Invertebrate", "Crab/Lobster/Shrimp", "Slug/Snail", "Spider/Scorpion", "Algae", "Fungi"]'

In [16]:
with open("Dashboard/Resources/data/category_data.json", "w") as outfile:
    outfile.write(category_data)