In [8]:
import pandas as pd

In [9]:
#read in csv files to make dataframes
species_df = pd.read_csv('Resources/clean_species.csv')
natparks_df = pd.read_csv('Resources/national_parks.csv')
species_df.head()

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Occurrence,Nativeness,Conservation Status,Park ID
0,ACAD-1000,Acadia,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Present,Native,Least Concern,ACAD
1,ACAD-1001,Acadia,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Present,Native,Least Concern,ACAD
2,ACAD-1002,Acadia,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Present,Not Native,Species of Concern,ACAD
3,ACAD-1003,Acadia,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Not Confirmed,Native,Endangered,ACAD
4,ACAD-1005,Acadia,Mammal,Carnivora,Felidae,Lynx canadensis,Canada Lynx,Not Confirmed,Native,Least Concern,ACAD

In [10]:
natparks_df.head()

,Park Code,Park Name,State,Acres,Latitude,Longitude,Rank,Visitors,Percentage
0,ACAD,Acadia,ME,47390,44.35,-68.21,7,3437286,0.0378
1,ARCH,Arches,UT,76519,38.68,-109.57,17,1659702,0.0182
2,BADL,Badlands,SD,242756,43.75,-102.50,28,970998,0.0107
3,BIBE,Big Bend,TX,801163,29.25,-103.25,44,463832,0.0051
4,BISC,Biscayne,FL,172924,25.65,-80.08,30,708522,0.0078

In [13]:
#merge the data frames
parkspecies_df = pd.merge(natparks_df, species_df, on='Park Name', how='left')
parkspecies_df.head(200)

,Park Code,Park Name,State,Acres,Latitude,Longitude,Rank,Visitors,Percentage,Species ID,Category,Order,Family,Scientific Name,Common Names,Occurrence,Nativeness,Conservation Status,Park ID
0,ACAD,Acadia,ME,47390,44.35,-68.21,7,3437286,0.0378,ACAD-1000,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Present,Native,Least Concern,ACAD
1,ACAD,Acadia,ME,47390,44.35,-68.21,7,3437286,0.0378,ACAD-1001,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Present,Native,Least Concern,ACAD
2,ACAD,Acadia,ME,47390,44.35,-68.21,7,3437286,0.0378,ACAD-1002,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Present,Not Native,Species of Concern,ACAD
3,ACAD,Acadia,ME,47390,44.35,-68.21,7,3437286,0.0378,ACAD-1003,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Not Confirmed,Native,Endangered,ACAD
4,ACAD,Acadia,ME,47390,44.35,-68.21,7,3437286,0.0378,ACAD-1005,Mammal,Carnivora,Felidae,Lynx canadensis,Canada Lynx,Not Confirmed,Native,Least Concern,ACAD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,ACAD,Acadia,ME,47390,44.35,-68.21,7,3437286,0.0378,ACAD-1229,Bird,Passeriformes,Emberizidae,Ammodramus nelsoni,Nelson's Sharp-Tailed Sparrow,Present,Native,Least Concern,ACAD
196,ACAD,Acadia,ME,47390,44.35,-68.21,7,3437286,0.0378,ACAD-1230,Bird,Passeriformes,Emberizidae,Ammodramus savannarum,"Eastern Grasshopper Sparrow, Grasshopper Sparrow",Not Confirmed,Not Native,Species of Concern,ACAD
197,ACAD,Acadia,ME,47390,44.35,-68.21,7,3437286,0.0378,ACAD-1233,Bird,Passeriformes,Emberizidae,Junco hyemalis,"Dark-Eyed Junco, Northern Slate-Colored Junco,...",Present,Native,Least Concern,ACAD
198,ACAD,Acadia,ME,47390,44.35,-68.21,7,3437286,0.0378,ACAD-1234,Bird,Passeriformes,Emberizidae,Melospiza georgiana,"Eastern Swamp Sparrow, Swamp Sparrow",Present,Native,Least Concern,ACAD
199,ACAD,Acadia,ME,47390,44.35,-68.21,7,3437286,0.0378,ACAD-1235,Bird,Passeriformes,Emberizidae,Melospiza lincolnii,"Lincoln's Sparrow, Northern Lincoln's Sparrow",Present,Native,Species of Concern,ACAD

In [14]:
parkspecies_df.isna().sum()

Park Code              0
Park Name              0
State                  0
Acres                  0
Latitude               0
Longitude              0
Rank                   0
Visitors               0
Percentage             0
Species ID             7
Category               7
Order                  7
Family                 7
Scientific Name        7
Common Names           7
Occurrence             7
Nativeness             7
Conservation Status    7
Park ID                7
dtype: int64

In [15]:
#write the cleaned file to a new csv file
parkspecies_df.to_csv('Resources/parkspecies.csv', index=False)