In [1]:
#import dependencies
import pandas as pd

In [2]:
#read in csv files to make dataframes
parks_df = pd.read_csv('Resources/parks.csv')
visit_df = pd.read_csv('Resources/visitors.csv')
parks_df.head()

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

In [3]:
visit_df.head()

,Title,ParkType,Bookmark,Unnamed: 3
0,Annual Park Ranking Report for Recreation Visi...,Park Type: National Park,Bookmark this report: https://irma.nps.gov/Sta...,NaN
1,NaN,NaN,NaN,NaN
2,ParkName,Rank,Value,PercentOfTotal
3,Great Smoky Mountains NP,1,"12,547,743",0.1379
4,Grand Canyon NP,2,"5,974,411",0.0656

In [4]:
#rename the columns
visit_df = visit_df.rename(columns = {'Title':'Park Name', 'ParkType':'Rank', 'Bookmark': 'Visitors', 'Unnamed: 3': 'Percentage'})

In [5]:
#clean the visitors dataframe
visit_df = visit_df.drop([0,1,2])
visit_df = visit_df.reset_index()
visit_df = visit_df.drop(columns = 'index')
visit_df.head()

                  Park Name Rank    Visitors Percentage
0  Great Smoky Mountains NP    1  12,547,743     0.1379
1           Grand Canyon NP    2   5,974,411     0.0656
2         Rocky Mountain NP    3   4,670,053     0.0513
3                   Zion NP    4   4,488,268     0.0493
4               Yosemite NP    5   4,422,861     0.0486

In [6]:
#Remove the NP from the Park Names in the visit_df
counter = 0

for name in visit_df['Park Name']:

    new_name = name.replace(' NP', '')

    visit_df['Park Name'][counter] = new_name
    counter += 1


visit_df.head(30)

                 Park Name Rank    Visitors Percentage
0    Great Smoky Mountains    1  12,547,743     0.1379
1             Grand Canyon    2   5,974,411     0.0656
2           Rocky Mountain    3   4,670,053     0.0513
3                     Zion    4   4,488,268     0.0493
4                 Yosemite    5   4,422,861     0.0486
5              Yellowstone    6   4,020,288     0.0442
6                   Acadia    7   3,437,286     0.0378
7              Grand Teton    8   3,405,614     0.0374
8                  Olympic    9   3,245,806     0.0357
9                  Glacier   10   3,049,839     0.0335
10             Joshua Tree   11   2,988,547     0.0328
11            Bryce Canyon   12   2,594,904     0.0285
12         Cuyahoga Valley   13   2,237,997     0.0246
13           Indiana Dunes   14   2,134,285     0.0235
14            Gateway Arch   15   2,055,309     0.0226
15            Death Valley   16   1,740,945     0.0191
16                  Arches   17   1,659,702     0.0182
17           Mount Rainier   18   1,501,621     0.0165
18             Hot Springs   19   1,467,153     0.0161
19              Shenandoah   20   1,425,507     0.0157
20        Hawaii Volcanoes   21   1,368,376      0.015
21                 Sequoia   22   1,246,053     0.0137
22            Capitol Reef   23   1,226,519     0.0135
23  New River Gorge & PRES   24   1,195,721     0.0131
24              Everglades   25   1,118,300     0.0123
25                 Saguaro   26   1,020,226     0.0112
26               Haleakala   27     994,394     0.0109
27                Badlands   28     970,998     0.0107
28             Canyonlands   29     733,996     0.0081
29                Biscayne   30     708,522     0.0078

In [7]:
#Remove the & PRES from the rows that contain it
edit_df = visit_df[visit_df['Park Name'].str.contains(' & PRES')]

counter = 0
index= edit_df.index

for name in edit_df['Park Name']:

    new_name = name.replace(' & PRES', '')

    edit_df['Park Name'][index[counter]] = new_name
    counter += 1

    
gates = edit_df.loc[62,'Park Name']
st = edit_df.loc[56, 'Park Name']

print(gates)
edit_df.head(10)

Gates of the Arctic

C:\Users\ryanb\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3437: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

              Park Name Rank   Visitors Percentage
23      New River Gorge   24  1,195,721     0.0131
32          Glacier Bay   33    672,087     0.0074
37               Denali   38    601,152     0.0066
40     Great Sand Dunes   41    527,546     0.0058
54               Katmai   55     84,167     0.0009
56   Wrangell-St. Elias   57     74,518     0.0008
60           Lake Clark   61     17,157     0.0002
62  Gates of the Arctic   63     10,518     0.0001

In [8]:
#return the new names to the original dataframe

replace = edit_df['Park Name'].tolist()

visit_df.loc[index, 'Park Name'] = replace
visit_df.head(30)

                Park Name Rank    Visitors Percentage
0   Great Smoky Mountains    1  12,547,743     0.1379
1            Grand Canyon    2   5,974,411     0.0656
2          Rocky Mountain    3   4,670,053     0.0513
3                    Zion    4   4,488,268     0.0493
4                Yosemite    5   4,422,861     0.0486
5             Yellowstone    6   4,020,288     0.0442
6                  Acadia    7   3,437,286     0.0378
7             Grand Teton    8   3,405,614     0.0374
8                 Olympic    9   3,245,806     0.0357
9                 Glacier   10   3,049,839     0.0335
10            Joshua Tree   11   2,988,547     0.0328
11           Bryce Canyon   12   2,594,904     0.0285
12        Cuyahoga Valley   13   2,237,997     0.0246
13          Indiana Dunes   14   2,134,285     0.0235
14           Gateway Arch   15   2,055,309     0.0226
15           Death Valley   16   1,740,945     0.0191
16                 Arches   17   1,659,702     0.0182
17          Mount Rainier   18   1,501,621     0.0165
18            Hot Springs   19   1,467,153     0.0161
19             Shenandoah   20   1,425,507     0.0157
20       Hawaii Volcanoes   21   1,368,376      0.015
21                Sequoia   22   1,246,053     0.0137
22           Capitol Reef   23   1,226,519     0.0135
23        New River Gorge   24   1,195,721     0.0131
24             Everglades   25   1,118,300     0.0123
25                Saguaro   26   1,020,226     0.0112
26              Haleakala   27     994,394     0.0109
27               Badlands   28     970,998     0.0107
28            Canyonlands   29     733,996     0.0081
29               Biscayne   30     708,522     0.0078

In [9]:
#remove the phrase national park from the park names in the park_df
counter = 0

for name in parks_df['Park Name']:
    
    new_name = name.replace(' National Park', '')
    
    parks_df['Park Name'][counter] = new_name
    counter += 1

parks_df.head(20)

<ipython-input-9-83ad6c4d9633>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  parks_df['Park Name'][counter] = new_name

,Park Code,Park Name,State,Acres,Latitude,Longitude
0,ACAD,Acadia,ME,47390,44.35,-68.21
1,ARCH,Arches,UT,76519,38.68,-109.57
2,BADL,Badlands,SD,242756,43.75,-102.50
3,BIBE,Big Bend,TX,801163,29.25,-103.25
4,BISC,Biscayne,FL,172924,25.65,-80.08
5,BLCA,Black Canyon of the Gunnison,CO,32950,38.57,-107.72
6,BRCA,Bryce Canyon,UT,35835,37.57,-112.18
7,CANY,Canyonlands,UT,337598,38.20,-109.93
8,CARE,Capitol Reef,UT,241904,38.20,-111.17
9,CAVE,Carlsbad Caverns,NM,46766,32.17,-104.44
10,CHIS,Channel Islands,CA,249561,34.01,-119.42
11,CONG,Congaree,SC,26546,33.78,-80.78
12,CRLA,Crater Lake,OR,183224,42.94,-122.10
13,CUVA,Cuyahoga Valley,OH,32950,41.24,-81.55
14,DENA,Denali and Preserve,AK,3372402,63.33,-150.50
15,DEVA,Death Valley,"CA, NV",4740912,36.24,-116.82
16,DRTO,Dry Tortugas,FL,64701,24.63,-82.87
17,EVER,Everglades,FL,1508538,25.32,-80.93
18,GAAR,Gates Of The Arctic and Preserve,AK,7523898,67.78,-153.30
19,GLAC,Glacier,MT,1013572,48.80,-114.00

In [10]:
#remove the 'and preserve' from the names
edit_df = parks_df[parks_df['Park Name'].str.contains(' and Preserve')]

counter = 0
index= edit_df.index

for name in edit_df['Park Name']:

    new_name = name.replace(' and Preserve', '')

    edit_df['Park Name'][index[counter]] = new_name
    counter += 1

edit_df.head(10)

<ipython-input-10-30a8153776ad>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edit_df['Park Name'][index[counter]] = new_name
C:\Users\ryanb\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3437: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

   Park Code            Park Name State    Acres  Latitude  Longitude
14      DENA               Denali    AK  3372402     63.33    -150.50
18      GAAR  Gates Of The Arctic    AK  7523898     67.78    -153.30
20      GLBA          Glacier Bay    AK  3224840     58.50    -137.00
23      GRSA     Great Sand Dunes    CO    42984     37.73    -105.51
32      KATM               Katmai    AK  3674530     58.50    -155.00
35      LACL           Lake Clark    AK  2619733     60.97    -153.42
52      WRST  Wrangell - St Elias    AK  8323148     61.00    -142.00

In [11]:
#fix the remaining names for issues
edit_df.loc[18, 'Park Name'] = gates
edit_df.loc[52, 'Park Name'] = st

edit_df.head(10)

C:\Users\ryanb\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

   Park Code            Park Name State    Acres  Latitude  Longitude
14      DENA               Denali    AK  3372402     63.33    -150.50
18      GAAR  Gates of the Arctic    AK  7523898     67.78    -153.30
20      GLBA          Glacier Bay    AK  3224840     58.50    -137.00
23      GRSA     Great Sand Dunes    CO    42984     37.73    -105.51
32      KATM               Katmai    AK  3674530     58.50    -155.00
35      LACL           Lake Clark    AK  2619733     60.97    -153.42
52      WRST   Wrangell-St. Elias    AK  8323148     61.00    -142.00

In [12]:
#add the values back the original dataframe
replace = edit_df['Park Name'].tolist()

parks_df.loc[index, 'Park Name'] = replace
parks_df.head(20)

,Park Code,Park Name,State,Acres,Latitude,Longitude
0,ACAD,Acadia,ME,47390,44.35,-68.21
1,ARCH,Arches,UT,76519,38.68,-109.57
2,BADL,Badlands,SD,242756,43.75,-102.50
3,BIBE,Big Bend,TX,801163,29.25,-103.25
4,BISC,Biscayne,FL,172924,25.65,-80.08
5,BLCA,Black Canyon of the Gunnison,CO,32950,38.57,-107.72
6,BRCA,Bryce Canyon,UT,35835,37.57,-112.18
7,CANY,Canyonlands,UT,337598,38.20,-109.93
8,CARE,Capitol Reef,UT,241904,38.20,-111.17
9,CAVE,Carlsbad Caverns,NM,46766,32.17,-104.44
10,CHIS,Channel Islands,CA,249561,34.01,-119.42
11,CONG,Congaree,SC,26546,33.78,-80.78
12,CRLA,Crater Lake,OR,183224,42.94,-122.10
13,CUVA,Cuyahoga Valley,OH,32950,41.24,-81.55
14,DENA,Denali,AK,3372402,63.33,-150.50
15,DEVA,Death Valley,"CA, NV",4740912,36.24,-116.82
16,DRTO,Dry Tortugas,FL,64701,24.63,-82.87
17,EVER,Everglades,FL,1508538,25.32,-80.93
18,GAAR,Gates of the Arctic,AK,7523898,67.78,-153.30
19,GLAC,Glacier,MT,1013572,48.80,-114.00

In [13]:
#merge the data frames
national_parks_df = pd.merge(parks_df, visit_df, on='Park Name', how='left')
national_parks_df.head(57)

,Park Code,Park Name,State,Acres,Latitude,Longitude,Rank,Visitors,Percentage
0,ACAD,Acadia,ME,47390,44.35,-68.21,7,"3,437,286",0.0378
1,ARCH,Arches,UT,76519,38.68,-109.57,17,"1,659,702",0.0182
2,BADL,Badlands,SD,242756,43.75,-102.50,28,"970,998",0.0107
3,BIBE,Big Bend,TX,801163,29.25,-103.25,44,"463,832",0.0051
4,BISC,Biscayne,FL,172924,25.65,-80.08,30,"708,522",0.0078
5,BLCA,Black Canyon of the Gunnison,CO,32950,38.57,-107.72,46,"432,818",0.0048
6,BRCA,Bryce Canyon,UT,35835,37.57,-112.18,12,"2,594,904",0.0285
7,CANY,Canyonlands,UT,337598,38.20,-109.93,29,"733,996",0.0081
8,CARE,Capitol Reef,UT,241904,38.20,-111.17,23,"1,226,519",0.0135
9,CAVE,Carlsbad Caverns,NM,46766,32.17,-104.44,45,"440,691",0.0048
10,CHIS,Channel Islands,CA,249561,34.01,-119.42,47,"409,630",0.0045
11,CONG,Congaree,SC,26546,33.78,-80.78,52,"159,445",0.0018
12,CRLA,Crater Lake,OR,183224,42.94,-122.10,31,"704,512",0.0077
13,CUVA,Cuyahoga Valley,OH,32950,41.24,-81.55,13,"2,237,997",0.0246
14,DENA,Denali,AK,3372402,63.33,-150.50,38,"601,152",0.0066
15,DEVA,Death Valley,"CA, NV",4740912,36.24,-116.82,16,"1,740,945",0.0191
16,DRTO,Dry Tortugas,FL,64701,24.63,-82.87,56,"79,200",0.0009
17,EVER,Everglades,FL,1508538,25.32,-80.93,25,"1,118,300",0.0123
18,GAAR,Gates of the Arctic,AK,7523898,67.78,-153.30,63,"10,518",0.0001
19,GLAC,Glacier,MT,1013572,48.80,-114.00,10,"3,049,839",0.0335
20,GLBA,Glacier Bay,AK,3224840,58.50,-137.00,33,"672,087",0.0074
21,GRBA,Great Basin,NV,77180,38.98,-114.30,54,"131,802",0.0014
22,GRCA,Grand Canyon,AZ,1217403,36.06,-112.14,2,"5,974,411",0.0656
23,GRSA,Great Sand Dunes,CO,42984,37.73,-105.51,41,"527,546",0.0058
24,GRSM,Great Smoky Mountains,"TN, NC",521490,35.68,-83.53,1,"12,547,743",0.1379
25,GRTE,Grand Teton,WY,309995,43.73,-110.80,8,"3,405,614",0.0374
26,GUMO,Guadalupe Mountains,TX,86416,31.92,-104.87,50,"188,833",0.0021
27,HALE,Haleakala,HI,29094,20.72,-156.17,27,"994,394",0.0109
28,HAVO,Hawaii Volcanoes,HI,323431,19.38,-155.20,21,"1,368,376",0.015
29,HOSP,Hot Springs,AR,5550,34.51,-93.05,19,"1,467,153",0.0161
30,ISRO,Isle Royale,MI,571790,48.10,-88.55,60,"26,410",0.0003
31,JOTR,Joshua Tree,CA,789745,33.79,-115.90,11,"2,988,547",0.0328
32,KATM,Katmai,AK,3674530,58.50,-155.00,55,"84,167",0.0009
33,KEFJ,Kenai Fjords,AK,669983,59.92,-149.65,48,"356,601",0.0039
34,KOVA,Kobuk Valley,AK,1750717,67.55,-159.28,62,"15,766",0.0002
35,LACL,Lake Clark,AK,2619733,60.97,-153.42,61,"17,157",0.0002
36,LAVO,Lassen Volcanic,CA,106372,40.49,-121.51,42,"517,039",0.0057
37,MACA,Mammoth Cave,KY,52830,37.18,-86.10,40,"551,590",0.0061
38,MEVE,Mesa Verde,CO,52122,37.18,-108.49,39,"556,203",0.0061
39,MORA,Mount Rainier,WA,235625,46.85,-121.75,18,"1,501,621",0.0165
40,NOCA,North Cascades,WA,504781,48.70,-121.20,59,"38,208",0.0004
41,OLYM,Olympic,WA,922651,47.97,-123.50,9,"3,245,806",0.0357
42,PEFO,Petrified Forest,AZ,93533,35.07,-109.78,34,"643,588",0.0071
43,PINN,Pinnacles,CA,26606,36.48,-121.16,51,"177,224",0.0019
44,REDW,Redwood,CA,112512,41.30,-124.00,43,"504,722",0.0055
45,ROMO,Rocky Mountain,CO,265828,40.40,-105.58,3,"4,670,053",0.0513
46,SAGU,Saguaro,AZ,91440,32.25,-110.50,26,"1,020,226",0.0112
47,SEKI,Sequoia and Kings Canyons,CA,865952,36.43,-118.68,NaN,NaN,NaN
48,SHEN,Shenandoah,VA,199045,38.53,-78.35,20,"1,425,507",0.0157
49,THRO,Theodore Roosevelt,ND,70447,46.97,-103.45,32,"691,658",0.0076
50,VOYA,Voyageurs,MN,218200,48.50,-92.88,49,"232,974",0.0026
51,WICA,Wind Cave,SD,28295,43.57,-103.48,36,"615,350",0.0068
52,WRST,Wrangell-St. Elias,AK,8323148,61.00,-142.00,57,"74,518",0.0008
53,YELL,Yellowstone,"WY, MT, ID",2219791,44.60,-110.50,6,"4,020,288",0.0442
54,YOSE,Yosemite,CA,761266,37.83,-119.50,5,"4,422,861",0.0486
55,ZION,Zion,UT,146598,37.30,-113.05,4,"4,488,268",0.0493

In [14]:
national_parks_df.isna().sum()

Park Code     0
Park Name     0
State         0
Acres         0
Latitude      0
Longitude     0
Rank          1
Visitors      1
Percentage    1
dtype: int64

In [15]:
national_parks_df = national_parks_df.dropna()
national_parks_df.isna().sum()

Park Code     0
Park Name     0
State         0
Acres         0
Latitude      0
Longitude     0
Rank          0
Visitors      0
Percentage    0
dtype: int64

In [16]:
national_parks_df = national_parks_df.reset_index()
national_parks_df = national_parks_df.drop(columns = 'index')

In [17]:
#edit the last two columns to allow entry into SQL
national_parks_df.dtypes

Park Code      object
Park Name      object
State          object
Acres           int64
Latitude      float64
Longitude     float64
Rank           object
Visitors       object
Percentage     object
dtype: object

In [18]:
#removing the commas in the visitors column
counter = 0
for visit in national_parks_df['Visitors']:
    
    number_chunks = visit.split(',', 3)
    number = ''.join(number_chunks)
    
    national_parks_df.loc[counter, 'Visitors'] = number
    counter += 1

national_parks_df.head(56)

,Park Code,Park Name,State,Acres,Latitude,Longitude,Rank,Visitors,Percentage
0,ACAD,Acadia,ME,47390,44.35,-68.21,7,3437286,0.0378
1,ARCH,Arches,UT,76519,38.68,-109.57,17,1659702,0.0182
2,BADL,Badlands,SD,242756,43.75,-102.50,28,970998,0.0107
3,BIBE,Big Bend,TX,801163,29.25,-103.25,44,463832,0.0051
4,BISC,Biscayne,FL,172924,25.65,-80.08,30,708522,0.0078
5,BLCA,Black Canyon of the Gunnison,CO,32950,38.57,-107.72,46,432818,0.0048
6,BRCA,Bryce Canyon,UT,35835,37.57,-112.18,12,2594904,0.0285
7,CANY,Canyonlands,UT,337598,38.20,-109.93,29,733996,0.0081
8,CARE,Capitol Reef,UT,241904,38.20,-111.17,23,1226519,0.0135
9,CAVE,Carlsbad Caverns,NM,46766,32.17,-104.44,45,440691,0.0048
10,CHIS,Channel Islands,CA,249561,34.01,-119.42,47,409630,0.0045
11,CONG,Congaree,SC,26546,33.78,-80.78,52,159445,0.0018
12,CRLA,Crater Lake,OR,183224,42.94,-122.10,31,704512,0.0077
13,CUVA,Cuyahoga Valley,OH,32950,41.24,-81.55,13,2237997,0.0246
14,DENA,Denali,AK,3372402,63.33,-150.50,38,601152,0.0066
15,DEVA,Death Valley,"CA, NV",4740912,36.24,-116.82,16,1740945,0.0191
16,DRTO,Dry Tortugas,FL,64701,24.63,-82.87,56,79200,0.0009
17,EVER,Everglades,FL,1508538,25.32,-80.93,25,1118300,0.0123
18,GAAR,Gates of the Arctic,AK,7523898,67.78,-153.30,63,10518,0.0001
19,GLAC,Glacier,MT,1013572,48.80,-114.00,10,3049839,0.0335
20,GLBA,Glacier Bay,AK,3224840,58.50,-137.00,33,672087,0.0074
21,GRBA,Great Basin,NV,77180,38.98,-114.30,54,131802,0.0014
22,GRCA,Grand Canyon,AZ,1217403,36.06,-112.14,2,5974411,0.0656
23,GRSA,Great Sand Dunes,CO,42984,37.73,-105.51,41,527546,0.0058
24,GRSM,Great Smoky Mountains,"TN, NC",521490,35.68,-83.53,1,12547743,0.1379
25,GRTE,Grand Teton,WY,309995,43.73,-110.80,8,3405614,0.0374
26,GUMO,Guadalupe Mountains,TX,86416,31.92,-104.87,50,188833,0.0021
27,HALE,Haleakala,HI,29094,20.72,-156.17,27,994394,0.0109
28,HAVO,Hawaii Volcanoes,HI,323431,19.38,-155.20,21,1368376,0.015
29,HOSP,Hot Springs,AR,5550,34.51,-93.05,19,1467153,0.0161
30,ISRO,Isle Royale,MI,571790,48.10,-88.55,60,26410,0.0003
31,JOTR,Joshua Tree,CA,789745,33.79,-115.90,11,2988547,0.0328
32,KATM,Katmai,AK,3674530,58.50,-155.00,55,84167,0.0009
33,KEFJ,Kenai Fjords,AK,669983,59.92,-149.65,48,356601,0.0039
34,KOVA,Kobuk Valley,AK,1750717,67.55,-159.28,62,15766,0.0002
35,LACL,Lake Clark,AK,2619733,60.97,-153.42,61,17157,0.0002
36,LAVO,Lassen Volcanic,CA,106372,40.49,-121.51,42,517039,0.0057
37,MACA,Mammoth Cave,KY,52830,37.18,-86.10,40,551590,0.0061
38,MEVE,Mesa Verde,CO,52122,37.18,-108.49,39,556203,0.0061
39,MORA,Mount Rainier,WA,235625,46.85,-121.75,18,1501621,0.0165
40,NOCA,North Cascades,WA,504781,48.70,-121.20,59,38208,0.0004
41,OLYM,Olympic,WA,922651,47.97,-123.50,9,3245806,0.0357
42,PEFO,Petrified Forest,AZ,93533,35.07,-109.78,34,643588,0.0071
43,PINN,Pinnacles,CA,26606,36.48,-121.16,51,177224,0.0019
44,REDW,Redwood,CA,112512,41.30,-124.00,43,504722,0.0055
45,ROMO,Rocky Mountain,CO,265828,40.40,-105.58,3,4670053,0.0513
46,SAGU,Saguaro,AZ,91440,32.25,-110.50,26,1020226,0.0112
47,SHEN,Shenandoah,VA,199045,38.53,-78.35,20,1425507,0.0157
48,THRO,Theodore Roosevelt,ND,70447,46.97,-103.45,32,691658,0.0076
49,VOYA,Voyageurs,MN,218200,48.50,-92.88,49,232974,0.0026
50,WICA,Wind Cave,SD,28295,43.57,-103.48,36,615350,0.0068
51,WRST,Wrangell-St. Elias,AK,8323148,61.00,-142.00,57,74518,0.0008
52,YELL,Yellowstone,"WY, MT, ID",2219791,44.60,-110.50,6,4020288,0.0442
53,YOSE,Yosemite,CA,761266,37.83,-119.50,5,4422861,0.0486
54,ZION,Zion,UT,146598,37.30,-113.05,4,4488268,0.0493

In [19]:
national_parks_df['Rank'] = pd.to_numeric(national_parks_df['Rank'])
national_parks_df['Visitors'] = pd.to_numeric(national_parks_df['Visitors'])
national_parks_df.dtypes

Park Code      object
Park Name      object
State          object
Acres           int64
Latitude      float64
Longitude     float64
Rank            int64
Visitors        int64
Percentage     object
dtype: object

In [20]:
#write the cleaned file to a new csv file
national_parks_df.to_csv('Resources/national_parks.csv', index=False)